.input {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar {
  background-color: #ffe084;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  width: 300px;
  font-style: italic;
}

.input_page_order[type="text"],
.input_page_order[type="tel"] {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
}

.input_page_order[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 2px solid #666;
  border-radius: 4px;
}
